<div id= "login_form"> 
    <form> 
        <div class="input_div">
            <input type="text" class="form-control-lg" id="username_input" placeholder="ENTER USERNAME">
        </div>

        <div class="input_div">
            <input type="password" class="form-control-lg" id="password_input" placeholder="ENTER PASSWORD">
        </div>

        <div>
            <button type="submit" class="btn btn-primary login_form_btn" id="submit_btn">Login</button>
        </div>
        <div>
            <button type="Register" class="btn btn-danger login_form_btn" id="register_btn">Register</button>
        </div>
        
    </form>
</div>
