
div{
    border-style: solid;
    border-width: 1px;
    margin: 1%;
    padding: 1%;

}

#login_form{
    text-align: center;
}
.input_div{
    
    margin-top: 1%;
}

#login_form{
    margin-top: 10%;
}
.login_form_btn{
    margin-top: 1%;
    width: 25.6%;
}